/input/
/output/
/outputs/
/notebook/
/nltk_data/
/figs/
/log/
/.bash_history/
*.bash_history
*.DS_Store
*.ipynb_checkpoints
.ipynb_checkpoints/
__pycache__/
catboost_info/
.ipython/
.npm/
.trash/
.local/
.ipython/
.jupyter/
.config/
.keras/
wheels/
.env
./mlruns/
/mlruns/
/working/

*.pickle
*.feather
*.csv
*.pkl
*.png
*.jpg
*.jpeg
*.sqlite